.instruments
    margin-left 100px
    padding 20px
    position absolute
    // height 560px
    display flex
    flex-direction column
    justify-content space-around
    top 50%

    border-radius 7px

    align-items center
    opacity 0

    transform scale(0.8) translateY(-50%)

    background-color $black
    box-shadow 0px 10px 30px 0px rgba(0, 0, 0, 0.1)
