.track
    // position absolute
    display flex
    align-items center
    justify-content center
    width 9vw
    height 25vw
    min-width 100px
    min-height 150px
    // right 60px
    // top -140px
    grid-column-start 10
    grid-row-start 1

    background linear-gradient(#48F4BA, #23E584)
    transform rotate(0deg)
    
    z-index -1
    box-shadow 0px 2px 80px 0px rgba(35, 229, 132, 0.20), 0px 10px 10px 0px rgba(0, 0, 0, 0.06)
    will-change transform

    animation-duration 1s

.track__waves
    width 100%
    height 100%
    transform scale(0.8) translateY(6%)


@keyframes trackEnter {
    from {
        transform rotate(0deg) translateX(50%) translateY(-100%)
    }
    to {
        transform rotate(45deg) translateX(0%) translateY(-50%)
    }
}