.drumkit__cymbal
.drumkit__hiHat
.drumkit__snare
.drumkit__bassDrum
    width 50%
    height 50%
    display flex
    justify-content center
    align-items center

.drumkit__img
    width 50%

.drumkit__cymbal
    border-right 1px solid #E6E6E6
    float left

.drumkit__hiHat
    float left

.drumkit__snare
    border-right 1px solid #E6E6E6
    border-top 1px solid #E6E6E6
    float left

.drumkit__bassDrum
    float left
    border-top 1px solid #E6E6E6


.drumkit__recordCountdown
    position absolute 
    top 50%
    left 50%
    height 100px 
    width 100px
    display flex
    justify-content center 
    align-items center
    font-family 'ballPark'
    font-size 50px
    color $black
    opacity 0
    transform translateX(-50%) translateY(-50%)
    will-change opacity