.drumkit__cymbal
.drumkit__hiHat
.drumkit__snare
.drumkit__bass
.violin__note1
.violin__note2
.violin__note3
.violin__note4
.guitar__note1
.guitar__note2
.guitar__note3
.guitar__note4
    width 50%
    height 50%
    display flex
    justify-content center
    align-items center
    float left

.drumkit__img
    width 50%

.drumkit__cymbal
    border-right 1px solid #E6E6E6
    float left

.drumkit__hiHat
    float left

.drumkit__snare
    border-right 1px solid #E6E6E6
    border-top 1px solid #E6E6E6
    float left

.drumkit__bass
    float left
    border-top 1px solid #E6E6E6


.drumkit__recordCountdown
    position absolute 
    top 50%
    left 50%
    height 100px 
    width 100px
    display flex
    justify-content center 
    align-items center
    font-family 'ballPark'
    font-size 50px
    color $black
    opacity 0
    transform translateX(-50%) translateY(-50%)
    will-change opacity

.violin__note1
.guitar__note1
    border-right 1px solid #E6E6E6
    float left

.violin__note2
.guitar__note2
    float left

.violin__note3
.guitar__note3
    border-right 1px solid #E6E6E6
    border-top 1px solid #E6E6E6
    float left

.violin__note4
.guitar__note4
    float left
    border-top 1px solid #E6E6E6

.violin__note1 > img
.violin__note2 > img
.violin__note3 > img
.violin__note4 > img
    width 40%

.guitar__note1 > img
.guitar__note2 > img
.guitar__note3 > img
.guitar__note4 > img
    width 34%