.drumkit__cymbal
.drumkit__hiHat
.drumkit__snare
.drumkit__bassDrum
    width 50%
    height 50%
    display flex
    justify-content center
    align-items center

.drumkit__img
    width 50%

.drumkit__cymbal
    border-right 1px solid #E6E6E6
    float left

.drumkit__hiHat
    float left

.drumkit__snare
    border-right 1px solid #E6E6E6
    border-top 1px solid #E6E6E6
    float left

.drumkit__bassDrum
    float left
    border-top 1px solid #E6E6E6