.stickCursor
{
  position absolute 
  top 0
  left 0 
  height 50px
  width 50px
  border-radius 50%
  background $blue
  opacity 0
  transform-origin center 
  transform translateX(-50%) translateY(-50%)
  will-change transform
}