.content__text
    grid-column-start 3

    font-size 18px
    font-family 'aileron'

    display grid
    grid-template-columns repeat(4, 1fr)

.content__title
    grid-column-start 1
    font-size 102px
    font-family 'baskerville'

    @media screen and (max-width: $tablet-landscape)
        font-size 82px

.content__description
    justify-self top