.startSentence
    position absolute
    top 90px
    height 50px
    width 220px
    font-family 'Helvetica'
    font-size: 24px
    color #5469FE
    font-weight bold
    user-select none

.hoverButton
    display flex
    flex-direction column
    position relative
    width: 400px
    height: 400px
    align-self center
    justify-self center
    align-items center
    justify-content center 
    grid-column-start 5
    grid-row-start 4
    border-radius 50%

.hoverButton__base
    // position: absolute;
    display flex
    align-items center
    justify-content center
    background-color $white
    width 104px
    height 104px
    box-shadow 0px 2px 80px 0px rgba(84, 105, 256, 0.06), 0px 10px 20px 0px rgba(0, 0, 0, 0.06)
    border-radius 50%
    cursor pointer
    transition transform 150ms ease, background-color 150ms ease
    overflow hidden
    z-index 10

.hoverButton__base:hover
    transform scale(1.1)


.hoverButton__container
    display flex
    align-items center
    justify-content center


.hoverButton__expendContainer
    width 400px
    height 400px
    position absolute
    pointer-events none
    display flex
    justify-content center
    align-items center
    border-radius 50%
    opacity 1

.hoverButton:hover .hoverButton__expendContainer
    animation none


.hoverButton__background

    width 400px
    height 400px
    position absolute
    align-self center
    justify-self center
    pointer-events none
    background-color #5469FE
    box-sizing border-box
    border-radius 50%
    // opacity: 0.1;
    opacity 0.25
    transform scale(0)
    transition transform 300ms ease, opacity 300ms ease
    z-index 0

.hoverButton__base:hover 
    transform scale(1.1)

.hoverButton__climb
    width 300px
    height 300px
    pointer-events none
    border-radius 50%
    background-color $blue

    animation climb 3s cubic-bezier(0.8, 0.41, 0.31, 0.84) forwards infinite
    transition opacity 1s ease

.hoverButton__climbContainer
    position absolute
    opacity 1
    transition opacity 1s ease
    pointer-events none

.hoverButton__container:hover .hoverButton__climbContainer
    opacity 0
    

@keyframes climb
{
    0%
    {
        transform: scale(0.25);
        opacity: 0.1
    }
    100%
    {
        transform: scale(1);
        opacity: 0
    }
}

.svg
    width 54px
    height 54px
    stroke #5469FE
    stroke-width: 5px
    fill none
    stroke-dasharray 192px
    stroke-dashoffset 384px
    transform rotate(-90deg) scale(1)
    transition transform 150ms ease, stroke-dashoffset 1s ease

.hoverButton__base:active .svg
    stroke-dashoffset 230px

.hoverButton__base:hover .svg
    transform rotate(-90deg) scale(2)

.hoverButton__base:hover .hoverButton__begin
    opacity 1
    transform scale(1)

.hoverButton__begin
    position absolute
    font-family 'Roboto'
    font-weight bold
    color $blue
    opacity 0
    transform scale(0.8)
    transition opacity 150ms ease, transform 150ms ease
    user-select none

.hoverButton__access
    position absolute
    font-family 'Roboto'
    font-weight bold
    color $white
    opacity 0
    transform scale(1) translateX(300%)
    transition opacity 300ms ease, transform 150ms ease
    user-select none
