@font-face 
    font-family: "aileron";
    src: url("../../assets/fonts/aileronRegular.otf");

@font-face 
    font-family: "aileronBold";
    src: url("../../assets/fonts/aileronBold.otf");

@font-face 
    font-family: "baskerville";
    src: url("../../assets/fonts/baskerville.otf");