body {
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $white;
}
p {
  line-height: 30px;
  font-size: 1em;
}
@media screen and (min-width: $desktop-large) {
  p {
    line-height: 38px;
    font-size: 1.2em;
  }
}
