body 
  overflow hidden
  padding-left 10px
  padding-right 10px

  background-color $white

p
  line-height 30px
  font-size 1em

  @media screen and (min-width: $desktop-large)
    line-height 38px
    font-size 1.2em
// .newView
//   position absolute
//   pointer-events none
//   left 50%
//   top 50%
//   transform translate(-50%, -50%)
//   opacity 0
//   transition opacity 5s ease
//   font-size 100px

// .callToAction--calibration
//   width 100px
//   height 100px
//   background red
