body 
  background #fff
  overflow hidden
  height 400px

// Parent of cavans [DELETE]
.waves
  width 800px
  height 500px
// canvas
//   position absolute
//   left 50%
//   top 50%
//   transform translateX(-50%) translateY(-50%) scaleX(-1)