// .calibration__ring--activate
//   animation-play-state running
//   animation-fill-mode forwards

// .calibration__ring--deactivate
//   animation-direction reverse
//   animation-fill-mode forwards


