.dashboard__track--red
    background-color $red

.dashboard__trackContainer--opacity
    width 100%
    height 100%
    display flex

.dashboard__userPicture--absoluteMesure
    position absolute

.dashboard__userPictureImg--unvisible
    opacity 0

.dashboard__trackInstrument--absoluteMesure
    width 9vw
    height 9vw
    display flex
    justify-content center
    align-items center
    position absolute

    left 0