.explanations__explanation--current
    opacity 1

.explanations__fillBar--step1
    transform scaleX(0.25)

.explanations__fillBar--step2
    transform scaleX(0.5)

.explanations__fillBar--step3
    transform scaleX(0.75)

.explanations__fillBar--step4
    transform scaleX(1)