.eyeDropper--display
    opacity 1
    transform scale(1.2)

.eyeDropper--transparent
    opacity 0.2
    transform scale(1)

.eyeDropper--delete
    transform scale(6)
    opacity 0

.eyeDropper__coloredRing--dropped
    border solid 40px $green
    transition border 300ms ease

.eyeDropper--dropped
    opacity 0