.track--animate
    animation-name trackEnter
    // animation-duration 2s
    animation-timing-function ease
    animation-fill-mode forwards

.loop--animate
    animation-name loopEnter
    // animation-duration 2s
    animation-timing-function ease
    animation-fill-mode forwards

.drum--animate
    animation-name drumEnter
    // animation-duration 2s
    animation-timing-function ease
    animation-fill-mode forwards

.container--animate
    // animation-name containerEnter
    // animation-duration 5s
    // animation-timing-function ease
    // animation-fill-mode forwards
    opacity 1

.loader--unDisplay
    opacity 0
    visibility hidden
    // animation-play-state: paused