.track--animate
    transform rotate(45deg) translateX(0%) translateY(-50%)

.loop--animate
    transform rotate(-20deg) translateX(30%) translateY(-10%)

.drum--animate
    transform rotate(30deg) translateX(0%) translateY(0%)

.container--animate
    opacity 1

.loader--unDisplay
    opacity 0
    visibility hidden
    // animation-play-state: paused