.pickedColors__color--firstIsSecond
    transform translateX(calc(100% + 20px))
    &:hover
        transform translateX(calc(100% + 20px)) scale(1.05)

.pickedColors__color--secondIsFirst
    transform translateX(calc(-100% - 20px))
    &:hover
        transform translateX(calc(-100% - 20px)) scale(1.05)

.pickedColors__addStick--oneColor
    transform translateX(calc(-100% - 20px))

.pickedColors__addStick--twoColor
    opacity 0  
    pointer-events none

.pickedColors__addStick--disabled
    opacity 0.5
    cursor no-drop
    // pointer-events none

.pickedColors__color--flash
    animation flash 300ms ease

.pickedColors__color--undropped
    opacity 0.5
    cursor no-drop
    pointer-events none

.pickedColors__color--dropped
    opacity 0.5
    cursor pointer
    
    &:hover
      opacity 1
  
    &:hover .pickedColors__pickAgain
      opacity 0.4

    &:hover .pickedColors__stickNumber
      transform translateY(100%)

.pickedColors__color--calibrated
  opacity 1
  cursor pointer

  &:hover .pickedColors__pickAgain
      opacity 0.4

  &:hover .pickedColors__stickNumber
    transform translateY(100%)