.track--animate
    animation-name trackEnter
    animation-duration 2s
    animation-timing-function ease
    animation-fill-mode forwards

.loop--animate
    animation-name loopEnter
    animation-duration 2s
    animation-timing-function ease
    animation-fill-mode forwards

.drum--animate
    animation-name drumEnter
    animation-duration 2s
    animation-timing-function ease
    animation-fill-mode forwards

