.transitionTitle--display 
    // opacity 1
    animation transitionTitle 1.5s ease forwards

@keyframes transitionTitle {
    0% 
    {
        // transform translate(400%, -50%)
        opacity 0
    }
    60%
    {
        // transform translate(-50%, -50%)
        opacity 1
    }
    80%
    {
        // transform translate(-50%, -50%)
        opacity 1
    }
    100%
    {
        // transform translate(-400%, -50%)
        opacity 0
    }
}