.transitionOut
    opacity 0
    transform scale(1)

.transitionIn
    opacity 1 
    transition opacity 1s ease
    
.preTransition
    opacity 0

// Calibration
.calibrationIn
    opacity 1
    transition opacity 1s ease 1.4s