$seperatorGrey = #D8D8D8

.dashboard__trackContainer
    display flex
    margin-bottom 10px

.dashboard__trackInstrument
    height 9vw
    width 9vw
    min-width 72px
    min-height 72px
    display flex
    justify-content center
    align-items center

    background-color $black

.dashboard__trackInstrumentImg
    height 70%
    width auto

.dashboard__track
    // width 78%
    flex auto
    display flex
    justify-content space-between
    background-color $green
    position relative

    transform-origin left

.dashboard__userPicture
    height 9vw
    min-height 72px

    transform-origin left
    overflow hidden

.dashboard__userPictureImg
    height 100%
    width auto

    transform-origin right

.dashboard__innerMetric
    width 1px
    height 100%

    background-color $white

    opacity 0.2

.notes
    width 100%
    height 100%
    position absolute
    padding-top 10px
    padding-bottom 10px
    display flex
    flex-direction column
    justify-content space-between
    
.note
    width 1.5vw
    height 10%
    position absolute

    background-color $white
    opacity 0.2

