.instruments__trackInstrument
    width 140px
    height 140px

    display flex
    justify-content center
    align-items center

    background-color $white
    cursor pointer
    transition border 150ms ease
    &:hover
        border 5px solid $blue