<container>
    <div class="view">
        <header class="header column--12">
            <div class="header__title column--2">
                <h1 class="header__text">Melody Maker</h1>
            </div>
        </header>
        <div class="dashboard__container">
            <div class="instruments">
                <div class="instruments__trackInstrument newViewButton" data-name="recordingDrum" data-instrument="drum">
                    <img class="dashboard__trackInstrumentImg" src="../assets/images/homepage/drum.png" alt="drum">
                </div>
                <div class="instruments__trackInstrument newViewButton" data-name="recordingViolin" data-instrument="violin">
                    <img class="dashboard__trackInstrumentImg" src="../assets/images/dashboard/violin.png" alt="violin">
                </div>
                <div class="instruments__trackInstrument newViewButton" data-name="recordingGuitar" data-instrument="guitar">
                    <img class="dashboard__trackInstrumentImg" src="../assets/images/dashboard/guitar.png" alt="guitar">
                </div>
            </div>
            <div class="dashboard">
                <div class="dashboard__header">
                    <div class="dashboard__add">
                        <div class="dashboard__addPlus">+</div>
                    </div>
                    <div class="dashboard__controls">
                        <div class="dashboard__reset">
                            <div class="dashboard__resetSquare"></div>
                        </div>
                        <div class="dashboard__seperator"></div>
                        <div class="dashboard__play">
                            <div class="dashboard__playTriangle"></div>
                            <div class="dashboard__pause">
                                <div class="dashboard__pauseBar"></div>
                                <div class="dashboard__pauseBar"></div>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard__bpm">
                        <!-- <p>120bpm</p> -->
                        <input class="inputBpm" type="text" onfocus="this.value=''" value="120">
                        <p>bpm</p> 
                    </div>
                </div>
                <div class="dashboard__content">
                    <div class="dashboard__metricsContainer">
                        <div class="dashboard__trackInstrument dashboard__trackInstrument--mesure"></div>
                        <div class="dashboard__metrics">
                            <div class="dashboard__metric"></div>
                            <div class="dashboard__metric"></div>
                            <div class="dashboard__metric"></div>
                            <div class="dashboard__metric"></div>
                            <div class="dashboard__metric"></div>
                            <div class="dashboard__metric"></div>
                            <div class="dashboard__metric"></div>
                            <div class="dashboard__metric"></div>
                            <div class="dashboard__metric"></div>
                            <div class="dashboard__metric"></div>
                            <div class="dashboard__metric"></div>
                            <div class="dashboard__metric"></div>
                            <div class="dashboard__metric"></div>
                            <div class="dashboard__metric"></div>
                            <div class="dashboard__metric"></div>
                            <div class="dashboard__metric"></div>
                            <div class="dashboard__metric"></div>
                            <div class="dashboard__cursor">
                                <div class="dashboard__cursorTriangle"></div>
                                <div class="dashboard__cursorLine"></div>
                            </div>
                        </div>
                        <div class="dashboard__userPicture dashboard__userPicture--mesure">
                            <img class="dashboard__userPictureImg" src="../assets/images/dashboard/userPicture.png" alt="user picture">
                        </div>
                    </div>
                    <!-- <div class="dashboard__trackContainer">
                        <div class="dashboard__trackInstrument">
                            <img class="dashboard__trackInstrumentImg" src="../assets/images/homepage/drum.png" alt="drum">
                        </div>
                        <div class="dashboard__track">
                            <div class="dashboard__innerMetric"></div>
                            <div class="dashboard__innerMetric"></div>
                            <div class="dashboard__innerMetric"></div>
                            <div class="dashboard__innerMetric"></div>
                            <div class="dashboard__innerMetric"></div>
                            <div class="dashboard__innerMetric"></div>
                            <div class="dashboard__innerMetric"></div>
                            <div class="dashboard__innerMetric"></div>
                            <div class="dashboard__innerMetric"></div>
                        </div>
                        <div class="dashboard__userPicture">
                            <img class="dashboard__userPictureImg" src="../assets/images/dashboard/userPicture.png" alt="user picture">
                        </div>
                    </div> -->
                    <div class="tracks">
                        
                    </div>
                </div>
                <div class="dashboard__bottomGradient"></div>
            </div>
        </div>
    </div>
    <div class="video__preview">
        <div class="videoContainer"></div>
    </div>
</container>