<container>
    <div class="view">
        <div class="dashboard">
            <div class="dashboard__header">
                <div class="dashboard__add">
                    <div>+</div>
                </div>
                <div class="dashboard__controls">
                    <div class="dashboard__reset">
                        <div class="dashboard__resetSquare"></div>
                    </div>
                    <div class="dashboard__seperator"></div>
                    <div class="dashboard__play">
                        <div class="dashboard__playTriangle"></div>
                    </div>
                </div>
            </div>
            <div class="dashboard__content">
                <div class="dashboard__metrics">
                    <div class="dashboard__metric"></div>
                    <div class="dashboard__metric"></div>
                    <div class="dashboard__metric"></div>
                    <div class="dashboard__metric"></div>
                    <div class="dashboard__metric"></div>
                    <div class="dashboard__metric"></div>
                    <div class="dashboard__metric"></div>
                    <div class="dashboard__metric"></div>
                    <div class="dashboard__metric"></div>
                    <div class="dashboard__metric"></div>
                    <div class="dashboard__metric"></div>
                    <div class="dashboard__metric"></div>
                    <div class="dashboard__metric"></div>
                    <div class="dashboard__metric"></div>
                    <div class="dashboard__metric"></div>
                    <div class="dashboard__metric"></div>
                    <div class="dashboard__metric"></div>
                </div>
                <div class="dashboard__trackContainer">
                    <div class="dashboard__trackInstrument">
                        <img src="#" alt="#">
                    </div>
                    <div class="dashboard__track">
                        <div class="dashboard__innerMetric"></div>
                        <div class="dashboard__innerMetric"></div>
                        <div class="dashboard__innerMetric"></div>
                        <div class="dashboard__innerMetric"></div>
                        <div class="dashboard__innerMetric"></div>
                        <div class="dashboard__innerMetric"></div>
                        <div class="dashboard__innerMetric"></div>
                    </div>
                    <div class="dashboard__userPicture">
                        <img src="#" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </div>
</container>