<container>
    <div class="homeContainer view">
        <video class="img" src="assets/videos/awkwarde.mp4" alt="" autoplay loop muted style="display: none"></video>
        <div class="track domView">
            <img class="track__waves lazyload" src="assets/images/homepage/track.png" alt="track">
        </div>
    
        <div class="loop domView">
            <img class="loop__arrows lazyload" src="assets/images/homepage/loop.png" alt="track">
        </div>
        <div class="drum domView">
            <img class="drum__icon lazyload" src="assets/images/homepage/drum.png" alt="">
        </div>
        <header class="header column--12">
            <div class="header__title column--2 domView">
                <h1 class="header__text">Melody Maker</h1>
            </div>
        </header>
    
    
        <div class="content column--12">
            <div class="content__text column--4">
                <div class="content__title column--4">
                    <h2>Move it</h2>
                </div>
                <div class="content__description column--4">
                    <p class="content__p">Create your own melody with your own movements. Found a colored object and let’s go !</p>
                </div>
            </div>
            <div class="content__preview column--4">
                <div class="content__jelly"></div>
            </div>
        </div>
    
        <div class="hoverButton column--4">
            <div class="hoverButton__container">
                <div class="hoverButton__climbContainer">
                    <div class="hoverButton__climb"></div>
                </div>
                <div class="hoverButton__expendContainer"></div>
                <div class="hoverButton__background hoverButton__expend--loop"></div>
                <div class="hoverButton__base callToAction callToAction--home newViewButton newViewButton--delay" data-name="calibration">
                    <svg class="svg">
                        <use xlink:href="assets/images/homepage/organicButtonRing.svg#buttonRing"></use>
                    </svg>
                    <div class="hoverButton__begin">Begin</div>
                    <div class="hoverButton__access">Access</div>
                </div>
            </div>
        </div>
    
    </div>
</container>